

body::before {
    content: "";
    background-image: url(./Img/Pathology-Lab-Management-Software.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.Base
{
    position: relative;
    text-align: center;
}

th, td
{
    border:1px solid black
}

table
{
    margin: auto;
    position: relative;
    width: 30%;
    border:1px solid black;
    table-layout: auto;
    background-color: azure;
}

.fieldName
{
    text-align: right;
    width: 200px;
}

.data
{
    text-align: left;
}

#TableHeading
{
    color: darkblue;
}
